{% extends 'base.html.twig' %}
 {% import 'header.html.twig' as header %}

{% block title %}Statistiky{% endblock %}

{% block body %}{{ header.header() }}

    <h1 class="text-center">Statistiky</h1><br>
    <table class="table justify-content-center">
        <tr>
            <th>Datum</th>
            <th>Průměrné hodnocení</th>
        </tr>
        {% for statistic in statistics %}
            <tr>
                <td>{{ statistic.date }}</td>
                <td>{{ statistic.averageRating |round(2) }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}